---
const projects = [
  {
    name: "HolaGenio",
    description: "AI tools platform for non-technical people.",
    date: "2025",
    img: "./work/holagenio.png",
    link: "https://holagenio.com/",
  },
  {
    name: "Boston Data",
    description: "Data Hub about the city of Boston.",
    date: "2025",
    img: "",
    link: "https://boston-data.vercel.app/",
  },
  {
    name: "DiforVi",
    description: "Diforvi: Digital Tools to Empower Your Business",
    date: "2024",
    img: "./work/diforvi.png",
    link: "https://www.diforvi.com/",
  },
  {
    name: "Menu DR",
    description: "Application to create digital menus for restaurants.",
    date: "2021",
    img: "./work/menudr.png",
    link: "https://menudr.vercel.app/",
  },
];
const customers = [
  {
    img: "./work/holagenio-web.png",
    link: "https://holagenio.com/",
  },
  {
    img: "./work/castle-cleaners.png",
    type: "Website",
    link: "https://castlecleanersofficial.com/",
  },

  {
    img: "./work/sisters.png",
    link: "https://sistersdecordeclutter.com/",
  },

  {
    img: "./work/yovania.png",
    link: "https://yovania-castillo.vercel.app/",
  },
  {
    img: "./work/809-bar.png",
    link: "https://809bar-and-restaurant.com/",
  },
  {
    img: "./work/menudr-web.png",
    link: "https://menudr.vercel.app/",
  },
  {
    img: "./work/menudr-web-2.png",
    link: "https://menudr.netlify.app/",
  },
  {
    img: "./work/privitis.png",
    link: "https://privitys.vercel.app/",
  },
];
---

<section>
  <div class="py-2 text-center">
    <h4 class="text-4xl my-2 mb-10 font-semibold">Personal Projects</h4>
    <div class="flex flex-col gap-10 md:flex-row flex-wrap w-full">
      {
        projects.map((item) => (
          <div
            class="w-full flex flex-col gap-2 border-2
           border-gray-100 rounded-xl py-2  px-4 justify-center items-center
            pb-6 md:py-6 md:flex-row md:items-start"
          >
            <div class="w-[150px] mx-auto md:w-[260px]r mt-4">
              {item.img ? (
                <img
                  src={item.img || ""}
                  class="w-full h-[60px] object-contain rounded-md "
                  alt=""
                />
              ) : (
                <h4 class="text-lg md:text-2xl font-bold">{item.name}</h4>
              )}
            </div>
            <div
              class="w-full h-full flex flex-col justify-center md:items-start md:pr-10 mdtext-left md:pl-4
                text-center"
            >
              <h4 class="text-lg md:text-2xl font-bold">{item.name}</h4>
              <p class="text-md text-gray-600">{item.description}</p>
              <p class="text-sm text-gray-600">
                Año de creación: <b>{item.date}</b>
              </p>
              <a
                href={item.link}
                target="_blank"
                class="text-blue-600 text-lg md:pr-10 py-2"
              >
                Project Link →
              </a>
            </div>
          </div>
        ))
      }
    </div>

    <div class="my-10">
      <a
        href="https://github.com/robertfrontend"
        target="_blank"
        class="text-xl underline">More Projects →</a
      >
    </div>
  </div>

  <!--  -->
  <hr class="py-4" />

  <div class="py-2 text-center mt-10">
    <h4 class="text-3xl my-2 mb-10 font-semibold">Customer projects</h4>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <!-- Project Card -->
      {
        customers.map((item) => (
          <div class="bg-white  rounded-lg overflow-hidden my-2 flex flex-col justify-center items-center">
            <img
              src={item.img}
              alt="Project image"
              class="w-full h-[220px] md:h-[250px] lg:h-[200px] object-cover rounded-md"
            />
            <a
              href={item.link}
              target="_blank"
              class="text-blue-600 text-lg md:pr-10 py-2 my-4 d-block cursor-pointer"
            >
              View Website →
            </a>
          </div>
        ))
      }
      <!-- Repeat Project Cards as needed -->
    </div>
  </div>
</section>
