---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>

    <meta
      name="author"
      content="Robertfrontend, a passionate web developer specializing in creating modern and responsive web applications."
    />
    <meta property="og:title" content={title} />
    <meta property="og:description" content="Astro description" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content="/path/to/image.jpg" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content="Astro description" />
    <meta name="twitter:image" content="/path/to/image.jpg" />
  </head>
  <body>
    <slot />
    <footer class="text-center py-4">© 2024 Robertfrontend</footer>
  </body>
</html>
<style is:global>
  html {
    font-family: "Ubuntu", sans-serif;
    background: #0f022e;
    color: white;
  }
  body {
    overflow-x: hidden;
  }
</style>
